<!DOCTYPE html>
<html style="font-size: 57.6px;">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="/static/js/hm.js"></script>
	<script src="/static/js/jweixin-1.6.0.js"></script>
	<script>
		wx.config(
			{
				debug: false,
				appId: "",
				timestamp: "",
				nonceStr: "",
				signature: "",
				jsApiList: [
					'checkJsApi',
					'updateAppMessageShareData',
					'updateTimelineShareData'
				]
	    });
		wx.ready(function () {
			wx.showOptionMenu();
			wx.checkJsApi(
				{
					jsApiList: [
						'getLocation',
						'onMenuShareTimeline',
						'onMenuShareAppMessage',
						'onMenuShareQQ'
					],
					success: function (res) {

					}
            });
			wx.updateAppMessageShareData({
				title: "社群人脉流量", // 分享标题
				desc: "汇集全国3000多个社区、各行业资源高质量社群，打造企业超级私域流量引流拓客推广宣传！", // 分享描述
				link: 'https://www.haobangyingxiaocehua.cn/app/index.php?i=2&c=entry&do=usrregister&did=&pdid=&m=yy_shequn2', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
				imgUrl: "https://www.haobangyingxiaocehua.cn/attachment/images/2/2020/10/cquUVq601Ud0Knb6YvBkvzUxLunB11.jpg", // 分享图标
				success: function (e) {
				}
			})
			//需在用户可能点击分享按钮前就先调用
			wx.updateTimelineShareData({
				title: "社群人脉流量", // 分享标题
				link: 'https://www.haobangyingxiaocehua.cn/app/index.php?i=2&c=entry&do=usrregister&did=&pdid=&m=yy_shequn2', // 分享链接，该链接域名或路径必须与当前页面对应的公众号JS安全域名一致
				imgUrl: "https://www.haobangyingxiaocehua.cn/attachment/images/2/2020/10/cquUVq601Ud0Knb6YvBkvzUxLunB11.jpg", // 分享图标
				success: function (e) {
				}
			})
			wx.error(function (res) {
			});
		});
	</script>


	<title>人脉圈 </title>
	<meta name="viewport"
		content="target-densitydpi=device-dpi, width=device-width,height=device-height, initial-scale=1, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<meta name="format-detection" content="telephone=no">
	<script type="text/javascript">
		document.getElementsByTagName('html')[0].style.fontSize = Math.min(window.innerWidth * 12 / 320, 200) + "px";
	</script>
	<!-- <script src="/static/js/jquery.min.js"></script> -->
	<link rel="stylesheet" href="/static/css/swiper-3.2.7.min.css">
	<link type="text/css" rel="stylesheet" href="/static/css/css.css">
	<style>
		body {
			margin: 0;
		}

		.container {
			width: 100%;
			margin: 0 auto;
			/*margin-top: 1.2rem;*/
			margin-bottom: 6rem;
		}

		.swiper1 {
			width: 98%;
			height: 2.5rem;
			background-color: #fff;
			position: fixed;
			z-index: 5;
			margin-top: 3rem;
			left: 1rem;
		}

		.swiper1 .selected {
			color: #303030;
			font-weight: bold;
			border-bottom: 0.2rem solid #fd6746;
			border-radius: 0.2rem;
			font-size: 1.07rem;
		}

		.swiper1 .swiper-slide {
			text-align: center;
			height: 2.4rem;
			width: auto !important;
			margin-right: 1.5rem !important;
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-box-align: center;
			-ms-flex-align: center;
			-webkit-align-items: center;
			align-items: center;
			cursor: pointer;
		}
		.swiper2 {
			width: 100%;
		}
		.swiper2 .swiper-slide {
			/*height: calc(100vh - 50px);*/
			box-sizing: border-box !important;
			/*overflow-x: hidden !important;*/
			width: 100% !important;
		}
	</style>
</head>

<body style="min-height: 666px;">
	<div style="display:none"><button class="btn" data-clipboard-text=""></button></div>
	<div class="popz" id="subpage">
		<div class="subpage">
			<!-- 搜索 -->
			<div class="searchz">
				<div class="search">
					<img class="searcgbg" src="/static/image/search.png">
					<form
						action="http://localhost:8081/search"
						method="POST">
						<input type="text" name="searchContent" placeholder="搜索">
					</form>
				</div>
				<!-- 收藏 -->
				<img src="/static/image/icon2.png" class="icon">
				<!-- 收藏 -->
			</div>
			<!-- 搜索 -->
			<div class="container">
				<!-- 分类 -->

				<div class="swiper-container swiper1 swiper-container-horizontal">
					<div class="swiper-wrapper" style="height: 2.5rem;">

						<div
						 ${if eq  "" .CateId }
						       class="swiper-slide selected swiper-slide-active"
						 ${else}
						       class="swiper-slide"
						 ${end}
						 style="width: 391.842px;">
							<a href="/">热门群</a>
						</div>
						${range $key,$value:= .navs}
                            <div
                            ${if eq $value.Id $.CateId}
                                 class="swiper-slide swiper-slide-next selected  selected swiper-slide-active"
                            ${else}
                                class="swiper-slide swiper-slide-next"
                            ${end}
                             style="width: 391.842px;">
                                <a
                                    href="/?cate_id=${$value.Id}">${$value.Name}</a>
                            </div>
						${end}
					</div>
				</div>
				<!-- 分类 -->
				<!-- swiper2 -->
				<div class="swiper-container swiper2">
					<div class="swiper-wrapper">
						<div class="swiper-slide swiper-no-swiping" id="y0">
							<div class="classId" style="margin-top:5.3rem; height: 0.1rem;width: 100%;"></div>


							<div id="qunSum">

							</div> <!-- 群统计 -->
							<div>
								<div class="list" style="margin-top:0rem;">
									<ul class="u1" id="ul1">
									</ul>

									<ul class="u2" id="ul2"></ul>
									<div class="pull-loading">
										<img src="/static/image/upload.png">
										<p>加载中...</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="footer2 footer">
					<div class="menus">
						<div class="foot">
							<a href="https://www.haobangyingxiaocehua.cn/app/index.php?i=2&amp;c=entry&amp;do=index&amp;m=yy_shequn2"
								class="hover">
								<i class="ico"
									style="background-image:url(https://www.haobangyingxiaocehua.cn/addons/yy_shequn2/template/mobile/images/homet.png);",></i>
								<p style="color:#ff0000">社群空间</p>
							</a>
						</div>
						<div class="foot">
							<a
								href="https://www.haobangyingxiaocehua.cn/app/index.php?i=2&amp;c=entry&amp;do=person&amp;m=yy_shequn2">
								<i class="ico"
									style="background-image:url(https://www.haobangyingxiaocehua.cn/addons/yy_shequn2/template/mobile/images/client.png);",></i>
								<p>资源咨询</p>
							</a>
						</div>
						<div class="foot">
							<a
								href="https://www.haobangyingxiaocehua.cn/app/index.php?i=2&amp;c=entry&amp;do=management&amp;m=yy_shequn2">
								<i class="ico"
									style="background-image:url(https://www.haobangyingxiaocehua.cn/addons/yy_shequn2/template/mobile/images/agency.png);",></i>
								<p>社群海报</p>
							</a>
						</div>
						<div class="foot">
							<a
								href="https://www.haobangyingxiaocehua.cn/app/index.php?i=2&amp;c=entry&amp;paytype=y&amp;do=fenxiao&amp;m=yy_shequn2">
								<i class="ico"
									style="background-image:url(https://www.haobangyingxiaocehua.cn/addons/yy_shequn2/template/mobile/images/fenxiao.png);",></i>
								<p>分销商</p>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- <script type="text/javascript" src="js/ali2.js"></script> -->
		<!-- li的点击事件-->
		<script>var imgs = document.getElementsByTagName('img'); for (var i = 0, len = imgs.length; i < len; i++) { imgs[i].onerror = function () { if (!this.getAttribute('check-src') && (this.src.indexOf('http://') > -1 || this.src.indexOf('https://') > -1)) { this.src = this.src.indexOf('https://www.haobangyingxiaocehua.cn/attachment/') == -1 ? this.src.replace('http://haobang81.oss-cn-beijing.aliyuncs.com/', 'https://www.haobangyingxiaocehua.cn/attachment/') : this.src.replace('https://www.haobangyingxiaocehua.cn/attachment/', 'http://haobang81.oss-cn-beijing.aliyuncs.com/'); this.setAttribute('check-src', true); } } };</script>

		<script src="/static/js/jquery-3.4.1.min.js"></script>
		<script src="/static/js/swiper-3.4.0.jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/base.js"></script>
		<script type="text/javascript" src="/static/js/hui.js"></script>
		<script type="text/javascript" src="/static/js/hui-refresh-load-more.js"></script>
		<script type="text/javascript" src="/static/js/module/index.js"></script>
	</div>
	<div id="hui-load-more"><span class="hui-icons hui-icons-up">.</span></div>
</body>

</html>
